<div data-nested-fields-target="wrapper" data-controller="nested-fields">
    <%= form.hidden_field :_destroy, data: { nested_fields_target: "destroyField" } %>

    <%= form.label :name %>
    <%= form.text_field :name %>

    <%= form.label :quantity %>
    <%= form.text_field :quantity %>

    <%= form.label :unit %>
    <%= form.text_field :unit %>

    <%= form.label :notes %>
    <%= form.text_field :notes %>

    <%= button_tag "Remove ingredient", type: :button, data: {action: "nested-fields#remove"} %>
</div>
